<ul style="backgroung-color:#909090;color:purple;">
<li><a href = '/add1'>Add</a></li>
<li><a href = '/list'>list</a></li>
<li><a href = '/pending'>Pending</a></li>
<li><a href = '/complete'>Completed</a></li>
<li><a href = '/modify'>Modify</a></li>
<li><a href = '/completed'>Mark as complete</a></li>
<li><a href = '/delete'>Delete</a></li>
<li><a href = '/'>Exit</a></li>
</ul>
