<form method="post" action="/modify">
Select the items to get modified: <input type="number" name="items"><br/>
Enter the new item: <input type="text" name="item">
<input type="submit" name="Modify">
</form>
 
<a href="/erb_example">Move back to List of Actions</a>
