<form method="post" action="/create_table">
Enter the database name:<input type = "text" name = "database"><br/>
Enter the table name: <input type = "text" name = "table"><br/>
Enter the fields: <input type ="text" name="values"><br/>
<input type="submit" name="create table">
</form>
<a href="/">see here</a>
