<form method="post" action="/drop_table">
Enter database:<input type="text" name="database"><br/>
Enter table:<input type="text" name="table">
<input type="submit" name="delete">
</form>
<a href="/">Home</a>
