<form method="post" action="/insert_query">
Enter the database name:<input type = "text" name = "database"><br/>
Enter the table name: <input type = "text" name = "table"><br/>
Enter the fields: <input type ="text" name="values"><br/>
Enter the attr. with , and '': <input type ="text" name="attributes"><br/>
<input type="submit" name="insert">
</form>
<a href="/other_db">see here</a>
