<form method="post" action="/insert_query1">
Enter the database:<input type="text" name="database"><br/>
Enter the table name:<input type="text" name="table"><br/>
Enter the attributes:<input type="text" name="attri"><br/>
Enter the fields:<input type="text" name="insert"><br/>
<input type="submit" name="submit">

</form>
<a href="/">click</a>
