
<ul><li><a href="/create_database">Create database</a><br/><br/></li>
<li><a href="/create_table">create table</a><br/><br/></li>
<li><a href="/insert_query">Insert values to table</a><br/><br/></li>
<li><a href="/add_col">Add column to existing table</a><br/><br/></li>
<li><a href="/drop_database">remove database</a><br/><br/></li>
<li><a href="/drop_table">Delete the table</a><br/><br/></li>
</ul>

